---
http_interactions:
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/B463LD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"40eca97e347e9ac2c1ce9caca6bfb5a2;gzip"'
      last-modified:
      - Tue, 17 Sep 2013 13:20:51 GMT
      content-type:
      - application/json; charset=utf-8
      x-url:
      - /postcode/B463LD
    body:
      encoding: US-ASCII
      string: ! '{"wgs84_lat": 52.496789409955881, "coordsyst": "G", "shortcuts":
        {"WMC": 66024, "ward": {"county": 15881, "district": 7606}, "council": {"county":
        2243, "district": 2458}}, "wgs84_lon": -1.706805276569471, "postcode": "B46
        3LD", "easting": 420002, "areas": {"40352": {"parent_area": null, "generation_high":
        20, "all_names": {}, "id": 40352, "codes": {"ons": "E02006473"}, "name": "North
        Warwickshire 006", "country": "E", "type_name": "Middle Layer Super Output
        Area (Full)", "generation_low": 13, "country_name": "England", "type": "OMF"},
        "11809": {"parent_area": null, "generation_high": 20, "all_names": {}, "id":
        11809, "codes": {"ons": "05", "gss": "E15000005", "unit_id": "41426"}, "name":
        "West Midlands", "country": "E", "type_name": "European region", "generation_low":
        1, "country_name": "England", "type": "EUR"}, "2243": {"parent_area": null,
        "generation_high": 20, "all_names": {}, "id": 2243, "codes": {"ons": "44",
        "gss": "E10000031", "unit_id": "10049"}, "name": "Warwickshire County Council",
        "country": "E", "type_name": "County council", "generation_low": 1, "country_name":
        "England", "type": "CTY"}, "900001"[...]
- request:
    method: get
    uri: http://mapit.mysociety.org/point/4326/-1.706805276569471,52.49678940995588
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"dd54c79a7ffa9ada97f196e2b607b2e1;gzip"'
      last-modified:
      - Tue, 17 Sep 2013 13:20:51 GMT
      content-type:
      - application/json; charset=utf-8
      x-url:
      - /point/4326/-1.706805276569471,52.49678940995588
[...]
