---
http_interactions:
- request:
    method: get
    uri: http://mapit.mysociety.org/postcode/SW1A1AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"2e5ca6db5b6ac0a3f008b0293a20a095;gzip"'
      last-modified:
      - Thu, 29 Aug 2013 12:29:30 GMT
      content-type:
      - application/json; charset=utf-8
      x-url:
      - /postcode/SW1A1AA
    body:
      encoding: US-ASCII
      string: ! '{"wgs84_lat": 51.501009611553926, "coordsyst": "G", "shortcuts":
        {"WMC": 65759, "ward": 8569, "council": 2504}, "wgs84_lon": -0.14158706711000901,
        "postcode": "SW1A 1AA", "easting": 529090, "areas": {"900000": {"parent_area":
        null, "generation_high": 19, "all_names": {}, "id": 900000, "codes": {}, "name":
        "House of Commons", "country": "", "type_name": "UK Parliament", "generation_low":
        1, "country_name": "-", "type": "WMP"}, "900001": {"parent_area": null, "generation_high":
        20, "all_names": {}, "id": 900001, "codes": {}, "name": "European Parliament",
        "country": "", "type_name": "European Parliament", "generation_low": 1, "country_name":
        "-", "type": "EUP"}, "42050": {"parent_area": null, "generation_high": 20,
        "all_names": {}, "id": 42050, "codes": {"ons": "E02000977"}, "name": "Westminster
        018", "country": "E", "type_name": "Middle Layer Super Output Area (Generalised)",
        "generation_low": 13, "country_name": "England", "type": "OMG"}, "900006":
        {"parent_area": null, "generation_high": 20, "all_names": {}, "id": 900006,
        "codes": {}, "name": "London Assembly", "country": "E", "type_name": "London
        Assembly area", "generation_low": 1, "country_name": "England", "type": "LAS"},
        "2247": {"parent_area": null, "generation_high": 20, "all_names": {}, "id":
        2247, "codes": {"unit_id": "41441"}, "name": "Greater London Authority", "country":
        "E", "type_name": "Greater London Authority", "generation_low": 1, "country_name":
        "England", "type": "GLA"}, "34856": {"parent_area": null, "generation_high":
        20, "all_names": {}, "id": 34856, "codes": {"ons": "E02000977"}, "name": "Westminster
        018", "country": "E", "type_name": "Middle Layer Super Output Area (Full)",
        "generation_low": 13, "country_name": "England", "type": "OMF"}, "105255":
        {"parent_area": null, "generation_high": 20, "all_names": {}, "id": 105255,
        "codes": {"ons": "E01004736"}, "name": "Westminster 018C", "country": "E",
        "type_name": "Lower Layer Super Output Area (Generalised)", "generation_low":
        13, "country_name": "England", "type": "OLG"}, "900002": {"parent_area": 900006,
        "generation_high": 20, "all_names": {}, "id": 900002, "codes": {}, "name":
        "London Assembly", "country": "E", "type_name": "London Assembly area (shared)",
        "generation_low": 1, "country_name": "England", "type": "LAE"}, "2504": {"parent_area":
        null, "generation_high": 20, "all_names": {}, "id": 2504, "codes": {"ons":
        "00BK", "gss": "E09000033", "unit_id": "11164"}, "name": "Westminster City
        Council", "country": "E", "type_name": "London borough", "generation_low":
        1, "country_name": "England", "type": "LBO"}, "11828": {"parent_area": 2247,
        "generation_high": 20, "all_names": {}, "id": 11828, "codes": {"gss": "E32000014",
        "unit_id": "41449"}, "name": "West Central", "country": "E", "type_name":
        "London Assembly constituency", "generation_low": 1, "country_name": "England",
        "t[...]
- request:
    method: get
    uri: http://mapit.mysociety.org/point/4326/-0.141587067110009,51.501009611553926
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"017a7a0a2be950c74ec3e27e78a9de30;gzip"'
      last-modified:
      - Tue, 17 Sep 2013 11:11:05 GMT
      content-type:
      - application/json; charset=utf-8
      x-url:
      - /point/4326/-0.141587067110009,51.50100961155392[...]
[...]
